.container {
	width: 100%;
}

.section.lead{
	padding: 5px;
}

.row {
	width: 100%;
	li {
		padding: 2px;
	}
}

.navbar:before, .navbar:after, .row:before, .row:after {
	content: " "; /* 1 */
    display: table; /* 2 */
}

.navbar:after,.row:after {
	clear: both;
}

[class*='col-'] {
	position:relative;
	height: 100%;
	float:left;
	padding-right: 15px;
	padding-left: 15px;
}

.col-lg-12 {
	width: 100%;
}

.col-lg-6 {
	width: 50%;
}

.col-lg-4 {
	width: 33.33%;
}

.col-sm-4 {
	width: 33.33%;
}

.col-sm-8 {
	width: 66.66%;
}

