@mixin mdView() {
	@media (min-width: 970px) and (max-width: 1169px) {
		@content;
	}
}

@mixin smView() {
	@media (max-width: 969px) {
		@content;
	}
}

.col-sm- {
	@include smView {
		&12 {
			width: 100%;
		}
		&8 {
			width: 66.66%;
		}
		&4 {
			width: 33.33%;
		}
	}
}

.col-md- {
	@include mdView {
		&12 {
			width: 100%;
		}
		&6 {
			width: 50%;
		}
	}
}